.header {
    padding: 10px 0;
    margin-bottom: $blockBottom;
    @include border();

    &__title {
        text-align: center;
        margin: 0 0 10px;
        color: $color_4;
        @include textShadow($color_5);
    }

    &__sub-title {
        text-align: center;
        margin: 0;
        color: $color_3;
        @include textShadow($color_5);
    }
}
