.main {
    border: 1px solid $color_5;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: $blockBottom;

    &__body {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -$imgpix;
    }

    &__img {
        width: calc(50% - #{$imgpix});
        margin: 0 $imgpix $imgpix 0;
        opacity: 0.9;
        transition: opacity 0.5s;

        &--active {
            border-color: $color_4;
            opacity: 1;
        }

        &:nth-child(2n) {
            margin-right: 0;
            width: 50%;
        }
    }
}
