.nav {
    @include border();
    padding: 10px 0;
    text-align: center;

    &__link {
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: $color_5;
        font-size: 1.2rem;
        transition: color .3s;

        &:hover {
            color: $color_3;
        }
    }
}
